@font-face {
	font-family: kl;

	src: url('../fonts/klavika.otf') ;
}
@font-face {
	
	font-family: klb;
	src: url('../fonts/klavikabold.otf') ;
}

.header{
	width: 100%;
	height: 640px;
	background-color: #ECECEC;
	

}
.box1{
	width: 570px;
	height: 400px;
	
	float: left;
	margin-top: 105px;
	margin-left: 130px;
}
.frm{
	float: left;
	width: 400px;
	height: 350px;
	margin-left: 50px;
	margin-top: 135px;
	background-color: white;
	box-shadow: 0px 0px 20px 0px #E9EBEE;
	border-radius: 8px;
}
.box1 h2{
	float: left;
	font-family: klb;
	
	color: #0066DA;
	font-size: 60px;
	margin-top: 90px;
	margin-left: 50px;
}
.box1 p{
	float: left;
	margin-left: 55px;
	font-size: 27px;
	margin-top: -40px;
	font-family: arial;
}
.frm form {
	float: left;
	margin-left: 20px;
}
.frm form input{
	height: 50px;
	border: 1px solid  #E0E0E0;
	border-radius: 8px;
	margin-top: 10px;
}
.frm .btn button{
	margin-left: 103px;
	height: 45px;
	width: 200px;
	margin-top: 20px;
	border-radius: 8px;
	background-color: #12B912;
	border: none;
}

.frm .btn button a{
	text-decoration: none;
	font-family: arial;
	font-weight: bold;
	font-size: 19px;
	color: white;
}